a {
    color: black;
    font-family: Georgia, serif;
    text-decoration: none;
}

body{
    background-color: rgb(255, 255, 255);
}

.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2em;
    margin: 2em 0;
}

.book-item {
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
    width: 300px;
}

.book-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.book-cover {
    height: 400px;
    width: 300px;
    overflow: hidden;
    position: relative;
}

.book-cover img {
    height: 100%;
    width: 100%;
 
}

.book-details {
    padding: 1em;
}

.book-title {
    margin: 0;
}

.book-author {
    margin: 0;
    font-size: 0.8em;
}

.book-pub-date {
    margin: 0;
    font-size: 0.8em;
}
